.prefRowName Change your password
.prefOptions.psFields
  %label
    %span.labelName.onboardLabel  Current password
    = f.password_field :current_password, class:'current_password'
  %label
    %span.labelName.onboardLabel  New password
    = f.password_field :password, :autocomplete => "off" , class: 'required_if'
  %label
    %span.labelName.onboardLabel  New password (again)
    = f.password_field :password_confirmation , class: 'required_if'