.formBox
  .formSection Admission Agreement
  %input#privacy_policy.ackBox{:name => "terms", :type => "checkbox", :value => "0"}
    .formErrorText#privacy_policy_error{:style => "display: none"} ERROR: Admission Agreement is required
    .ackText
      I understand that to complete this application, I will pay a non-refundable $125 registration fee. I hereby agree to pay the tuition in three equal installments due April 16, 2013, November 1, 2013, and February 3, 2014. I understand that tuition is non-refundable except as outlined in the Preschool’s limited tuition refund policy stated in the Admissions section of the Preschool website.