- flag  = 0
- @orgnization_list.first.seasons.each do |each_season|
  - if each_season._id == season.org_season_id and each_season.application_form_status != "Withdrawn" and  each_season.notifications.count > 0
    - each_season.notifications.each do |each_doc|
      -if each_doc.status == "active"
        - flag = 1
        %table#panelUniDocList{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tr
            - @json_tem = JsonTemplate.where(:_id => each_doc.json_template_id).first
            %td
              = link_to_if params[:controller] == "profiles", "#{@json_tem.form_name}", form_data_profiles_path(:child => params[:child], :json_template_id => each_doc.json_template_id, :email =>params[:email], :org_id => each_season._parent.org_id, :season_id => each_season._id)

            %td.panelUniDocDate #{each_doc.created_at.strftime("%m/%d/%y")}

        %br

- if flag == 0
  No document yet