<h1>Details changed for <%= @kid_profile.full_name %> (<%= @kid_profile.kids_type.kids_id %>)</h1>

<%= render 'changed_values' , record: @fields %>

<p>For any questions about KidsLink, please reply to this email or visit our web site at <strong><a href="http://www.mykidslink.com/">www.mykidslink.com</a></strong> and choose the About Us page.</p>

