<h1>KidsLink data export</h1>
<p>Attached is the data export you requested on behalf of <strong><%= @org_name %></strong>.  It is
   in CSV (comma-separated values) format and can be opened in a spreadsheet
   program such as Excel.</p>