<h1>Alert: <%= @form_name %> requested</h1>

<p><%= @org_name %> has requested that you submit <strong><%= @form_name %></strong> electronically for <%= @kid_name %>.</p>

<p>To complete this task, please log into your KidsLink dashboard at <a href="https://me.mykidslink.com/">me.mykidslink.com</a></p>

<p>For any questions about KidsLink, please reply to this email or visit our web site at <strong><a href="http://www.mykidslink.com/">www.mykidslink.com</a></strong> and choose the About Us page.</p>
