<h1>KidsLink weekly Organization memberships data export</h1>
<p>Attached is the data export for last week.  It is
  in CSV (comma-separated values) format and can be opened in a spreadsheet
  program such as Excel.</p>

