.headerContainer
  .headerButtonContainer
    .hButton{:onclick => "window.location.href='#{root_url}';"}
      %span Return
  .headerWellnessLogo{:onClick => "window.location.reload(true);", :style => "background-image:url(/assets/m_logo.png)"}
  .headerPageName
    Forgot password

#scrollContainer.scrollContainer.scrollContainer7Fix
  .contentContainer.ccOnboardScreen
    .osFieldsContainer
      %form
        - if current_user
          = current_user.email
        .osTopText Success!  Check your email for a link to reset your password.
    %p &nbsp;

:css
  .scrollContainer7Fix {
      position: static;
      margin-top: 94px !important;
      overflow: auto;
  }