.headerContainer
  .headerButtonContainer
  .headerWellnessLogo{:onClick => "window.location.reload(true);", :style => "background-image:url(/assets/m_logo.png)"}
  .headerPageName
    Reset password

#scrollContainer.scrollContainer.scrollContainer7Fix
  .contentContainer.ccOnboardScreen
    .osFieldsContainer
      .osTopText Success!
    .osButtonContainer
      .osSaveButton{:onclick => "window.location.href='#{root_url}';"} Log in
    %p &nbsp;


:css
  .scrollContainer7Fix {
      position: static;
      margin-top: 94px !important;
      overflow: auto;
  }