.coming_soon{style:"display:none;"}
  .popUpContainer
    .popUpBG{}
    %table.popUpTable
      %tr
        %td.popUpTableTD
          .popUpContent
            %form
              .popUpPanel
                %br
                  %h2{:align => "center"} Coming Soon: Add your own milestones
                .onboardBottomButtons
                  .onboardButton.obOk{:onclick => ""}
                    %a{:href => "#", :onclick => "return false;"} OK
                .clear