%tr{class: 'nested-fields'}
  %td
    %label Link name
    = f.text_field :link_name
    %label Link URL
    = f.text_field :link_url
    %span.pointer.delRow

%tr
  %td
    .formSectionDivider
    .formSectionPrimaryAction