%html
  %head
    %script{:src => "//use.typekit.com/mpd6krz.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag "application", :media => "all"
    - @organization_memberships.each do |organization_membership|
      = render 'enrollees_data',json_template: @json_template,applied_season: organization_membership.applied_season(@season._id || params[:season_id]),
                              kid_profile: organization_membership.profile , organization_membership: organization_membership