<p>Welcome <%= @resource.fname %>!</p>

<p>You can confirm your account email through the link below:</p>
<%#= raise @resource.confirmation_token.inspect %>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<br>
<p>Best Regards,</p>
<p>KidsLink Team</p>
